body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
}

@keyframes fall {
  from {}
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
