html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #00e1ff;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}