html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article .problem {
  margin: 50px;
}

article .desc {
  margin: 50px;
}

article .object {
  margin: 50px;
}
